{% extends "taberna_store/base.html" %}
{% block title %}
    {{ product.name }} |
{% endblock title %}
{% block content %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid"
                             src="{{ product.image.url }}"
                             alt="{{ product.name }}"
                             id="product-detail" />
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example"
                             class="col-10 carousel slide carousel-multi-item"
                             data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <!--First slide-->
                                {% for set in product_gallery %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="row">
                                            {% for i in set %}
                                                <div class="col-4">
                                                    <a href="{{ i.image.url }}">
                                                        <img class="card-img img-fluid"
                                                             src="{{ i.image.url }}"
                                                             alt="Product Image 4" />
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.name }}</h1>
                            <p class="h3 py-2">${{ product.price }}</p>
                            <p class="py-2 rating-star">
                                <i class="fa fa-star{% if product.averageReview < 0.5 %} text-light{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-alt {% endif %}"></i>
                                <i class="fa fa-star{% if product.averageReview < 1.5 %} text-light{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-alt {% endif %}"></i>
                                <i class="fa fa-star{% if product.averageReview < 2.5 %} text-light{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-alt {% endif %}"></i>
                                <i class="fa fa-star{% if product.averageReview < 3.5 %} text-light{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-alt {% endif %}"></i>
                                <i class="fa fa-star{% if product.averageReview < 4.5 %} text-light{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-alt {% endif %}"></i>
                                <span class="list-inline-item text-dark">Rating {{ product.averageReview }} | {{ product.countReview }} Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted">
                                        <strong>{{ product.name }}</strong>
                                    </p>
                                </li>
                            </ul>
                            <h6>Description:</h6>
                            <p>{{ product.description }}</p>
                            <form action="{% url 'add_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="item-option-select pb-3">
                                            <h5>Color</h5>
                                            <select class="form-select" name="color" required>
                                                <option value="" disabled selected>Select</option>
                                                {% for i in product.variation_set.colors %}
                                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-option-select pb-3">
                                            <h5>Size</h5>
                                            <select class="form-select" name="size" required>
                                                <option value="" disabled selected>Select</option>
                                                {% for i in product.variation_set.sizes %}
                                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        {% if product.stock <= 0 %}
                                            <h5 class="text-danger">Out of Stock</h5>
                                        {% else %}
                                            <button type="submit"
                                                    class="btn btn-success btn-lg"
                                                    name="submit"
                                                    value="addtocard">
                                                <span class="text">Add to Cart</span> <i class="fa fa-fw fa-cart-arrow-down"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reviews py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'submit_review' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="row text-left p-2 pb-3">
                            <h4>Write your review</h4>
                        </div>
                        <div class="w-75 pb-4">
                            <label>How do you rate this product?</label>
                            <br />
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5" required />
                                <label for="rating10" title="5">
                                    <i class="fa  fa-star"></i>
                                </label>
                                <input type="radio" name="rating" id="rating9" value="4.5" required />
                                <label for="rating9" title="4.5" class="half">
                                    <i class="fa fa-star-half"></i>
                                </label>
                                <input type="radio" name="rating" id="rating8" value="4" required />
                                <label for="rating8" title="4">
                                    <i class="fa  fa-star"></i>
                                </label>
                                <input type="radio" name="rating" id="rating7" value="3.5" required />
                                <label for="rating7" title="3.5" class="half">
                                    <i class=" fa fa-star-half"></i>
                                </label>
                                <input type="radio" name="rating" id="rating6" value="3" required />
                                <label for="rating6" title="3">
                                    <i class="fa  fa-star"></i>
                                </label>
                                <input type="radio" name="rating" id="rating5" value="2.5" required />
                                <label for="rating5" title="2.5" class="half">
                                    <i class="fa fa-star-half"></i>
                                </label>
                                <input type="radio" name="rating" id="rating4" value="2" required />
                                <label for="rating4" title="2">
                                    <i class="fa  fa-star"></i>
                                </label>
                                <input type="radio" name="rating" id="rating3" value="1.5" required />
                                <label for="rating3" title="1.5" class="half">
                                    <i class="fa fa-star-half"></i>
                                </label>
                                <input type="radio" name="rating" id="rating2" value="1" required />
                                <label for="rating2" title="1">
                                    <i class="fa  fa-star"></i>
                                </label>
                                <input type="radio" name="rating" id="rating1" value="0.5" required />
                                <label for="rating1" title="0.5" class="half">
                                    <i class="fa  fa-star-half"></i>
                                </label>
                            </div>
                            <br />
                            Review Title:
                            <input type="text" class="form-control mt-2" name="subject" />
                            <br />
                            Review:
                            <textarea name="review" rows="4" class="form-control mt-2"></textarea>
                            <br />
                            {% if user.is_authenticated %}
                                <input type="submit" value="Submit Review" class="btn btn-success btn-lg" />
                            {% else %}
                                <p>
                                    You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span>
                                </p>
                            {% endif %}
                        </div>
                        {% include "taberna_store/includes/alerts.html" %}
                    </form>
                    <hr />
                    <div class="col-md-9">
                        <header class="section-heading">
                            <div class="row text-left p-2 pb-3">
                                <h4>Customer Reviews</h4>
                            </div>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if product.averageReview < 0.5 %} text-light{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-alt {% endif %}"></i>
                                    <i class="fa fa-star{% if product.averageReview < 1.5 %} text-light{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-alt {% endif %}"></i>
                                    <i class="fa fa-star{% if product.averageReview < 2.5 %} text-light{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-alt {% endif %}"></i>
                                    <i class="fa fa-star{% if product.averageReview < 3.5 %} text-light{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-alt {% endif %}"></i>
                                    <i class="fa fa-star{% if product.averageReview < 4.5 %} text-light{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-alt {% endif %}"></i>
                                    <span>{{ product.countReview }} Reviews</span>
                                </span>
                            </div>
                        </header>
                        <hr />
                        {% for review in reviews %}
                            <article class="box mb-3">
                                <div class="icontext w-100">
                                    <div class="text">
                                        <span class="date text-muted float-md-right">{{ review.updated_at }}</span>
                                        <h6 class="mb-1">{{ review.user.full_name }}</h6>
                                        <div class="rating-star">
                                            <span>
                                                <i class="fa fa-star{% if review.rating == 0.5 %}-half-alt{% elif review.rating < 1 %} text-light{% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 1.5 %}-half-alt{% elif review.rating < 2 %} text-light{% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 2.5 %}-half-alt{% elif review.rating < 3 %} text-light{% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 3.5 %}-half-alt{% elif review.rating < 4 %} text-light{% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 4.5 %}-half-alt{% elif review.rating < 5 %} text-light{% endif %}"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <h6>{{ review.subject }}</h6>
                                    <p>{{ review.review }}</p>
                                </div>
                            </article>
                            <hr />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
    <!-- Start Article -->
    {% if related_products %}
        <section class="py-4">
            <div class="container">
                <div class="row text-left p-2 pb-3">
                    <h4>Related Products</h4>
                </div>
                <!--Start Carousel Wrapper-->
                <div id="carousel-related-product" data-aos="fade-up">
                    {% for related_product in related_products %}
                        <div class="p-2 pb-3">
                            <div class="product-wap card rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid"
                                         src="{{ related_product.image.url }}" />
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a class="btn btn-success text-white mt-2"
                                                   href="{{ related_product.get_absolute_url }}"><i class="far fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="{{ related_product.get_absolute_url }}"
                                       class="h3 text-decoration-none">{{ related_product.name }}</a>
                                    <ul class="list-unstyled d-flex justify-content-center mb-1 rating-star">
                                        <li>
                                            <i class="fa fa-star{% if related_product.averageReview < 0.5 %} text-light{% elif related_product.averageReview >= 0.5 and related_product.averageReview < 1 %}-half-alt {% endif %}"></i>
                                            <i class="fa fa-star{% if related_product.averageReview < 1.5 %} text-light{% elif related_product.averageReview >= 1.5 and related_product.averageReview < 2 %}-half-alt {% endif %}"></i>
                                            <i class="fa fa-star{% if related_product.averageReview < 2.5 %} text-light{% elif related_product.averageReview >= 2.5 and related_product.averageReview < 3 %}-half-alt {% endif %}"></i>
                                            <i class="fa fa-star{% if related_product.averageReview < 3.5 %} text-light{% elif related_product.averageReview >= 3.5 and related_product.averageReview < 4 %}-half-alt {% endif %}"></i>
                                            <i class="fa fa-star{% if related_product.averageReview < 4.5 %} text-light{% elif related_product.averageReview >= 4.5 and related_product.averageReview < 5 %}-half-alt {% endif %}"></i>
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">${{ related_product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <!-- End Article -->
{% endblock content %}
