<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid dark-bg px-5 portfolio-topbar">
    <div class="row gx-0">
        <div class="col-sm-8 text-center align-items-center text-sm-start">
            <div class="d-inline-flex align-items-center topbar-wrap">
                <a href="{% url 'core:index' %}"><small class="me-3 text-light"><i class="fa fa-database me-2"></i>Test Applications Manager</small></a>
            </div>
        </div>
        <div class="col-sm-4 text-center text-sm-end mb-2 mb-sm-0">
            <div class="d-inline-flex align-items-center topbar-wrap">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                   href="https://docs.google.com/document/d/1_jVZa3RMLXx9SFJzEikWLCASFV8jRmKM-ZMId78FfWs/edit?usp=share_link"
                   target="_blank"><i class="fab fw-normal">CV</i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                   href="https://github.com/SerhiiKarnaukh"
                   target="_blank"><i class="fab fa-github fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
                   href="https://www.linkedin.com/in/serhiikarnaukh"
                   target="_blank"><i class="fab fa-linkedin-in fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary bg-header">
        <div class="row py-5">
            <div class="col-12 text-center">
                <a href="{% url 'core:index' %}">
                    <h1 class="display-4 text-white ">Karnaukh-WebDev</h1>
                </a>
                {% if 'category' in request.path %}<h4 class="display-6 text-white">{{ core_title }}</h4>{% endif %}
                {% if 'tag' in request.path %}
                    <h3 class="text-white">
                        <span class="brand-color me-2">Tag:</span>{{ core_title }}
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->
