@import "../../styles/mixins";

.checkout-section {
    padding: 2.5em 0;
    label {
        margin-bottom: 0.5rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .btn-primary {
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0.1em;
        display: block;
        width: 100%;
        --bs-btn-bg: #e87f1c;
        --bs-btn-border-color: #e87f1c;
        --bs-btn-hover-bg: #f1b277;
        --bs-btn-hover-border-color: #f1b277;
    }
    .text-primary {
        color: $color-brand !important;
    }
}

@media (min-width: 768px) {
    .checkout-section {
        padding: 5em 0;
    }
}
