celery==5.5.3
channels==4.3.2
channels-redis==4.3.0
coverage==7.12.0
django==5.2.8
django-admin-thumbnails==1.0.0
django-ckeditor-5==0.2.18
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
django-paypal==2.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
djlint==1.36.4
djoser==2.3.3
flake8==7.3.0
gunicorn==23.0.0
openai==2.8.1
pillow==12.0.0
psycopg2==2.9.11
redis==7.1.0
stripe==14.0.1
uvicorn==0.38.0
websockets==15.0.1
