celery==5.5.3
channels==4.3.1
channels-redis==4.3.0
coverage==7.10.2
django==5.2.4
django-admin-thumbnails==0.2.9
django-ckeditor-5==0.2.18
django-cors-headers==4.7.0
django-debug-toolbar==6.0.0
django-paypal==2.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
djlint==1.36.4
djoser==2.3.3
flake8==7.3.0
gunicorn==23.0.0
openai==1.98.0
pillow==11.3.0
psycopg2==2.9.10
redis==6.2.0
stripe==12.4.0
uvicorn==0.35.0
websockets==15.0.1
