<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="meta keywords" />
        <meta name="description" content="meta description" />
        <link rel="stylesheet"
              href="https://bootswatch.com/5/litera/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <title>DonateUA</title>
    <body>
        <style>
            body{
                background-color: gray;
            }
            .custom-card {
                border-radius: 20px;
                max-width:500px;
            }
        </style>
        {% block content %}
        {% endblock content %}
    </body>
</html>
