{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="meta keywords" />
        <meta name="description" content="meta description" />
        {% include "core/favicons.html" %}
        <link href="{% static 'core/bundle/bootstrap.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'core/font-awesome/css/fontawesome.min.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
    </head>
    <title>DonateUA</title>
    <body>
        <style>
            body{
                background-color: gray;
            }
            .custom-card {
                border-radius: 20px;
                max-width:500px;
            }
        </style>
        {% block content %}
        {% endblock content %}
    </body>
</html>
