@import '../../../../styles/mixins';

.discount-section {
  padding: 20px;
  background-color: $color-title;
  text-align: center;
  color: white;
  font-size: 18px;
  @include font-light($content-font);
  @media (max-width: $breakpoint-md) {
    padding: 10px 0;
  }
  @media (max-width: $breakpoint-lg) {
    margin-top: 85px;
  }

  &__amount {
    color: $color-brand;
    @include font-semibold($description-font);
    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }
  }

  &__description {
    color: $white;
    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }
  }
}

