@import "../../styles/mixins";

.pagination {
    --bs-pagination-active-border-color: $color-brand;
    .page-link {
        color: $color-brand;
    }
}
.list-unstyled {
    a.active {
        color: $color-brand;
    }
}
