@import '../../../../styles/mixins';

.feedback {
  background-color: #F5F5F5;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.feedback-card {
  position: relative;
  @media (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.feedback-card-avatar {
  position: relative;
}

img.feedback-card-photo--lining {
  width: 393px;
  height: 393px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  object-fit: cover;
  opacity: 0.1;
  margin-left: 10%;
  @media (max-width: $breakpoint-lg) {
    width: 220px;
    height: 220px;
  }
  @media (max-width: $breakpoint-md) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: $breakpoint-sm) {
    width: 180px;
    height: 180px;
  }
}

.feedback-card-photo--main-wrapper {
  width: 314px;
  height: 314px;
  border-radius: 50%;
  border: 6px solid rgba(246, 161, 154, 0.5);
  background-color: transparent;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $breakpoint-xl) {
    left: 20%;
  }
  @media (max-width: $breakpoint-lg) {
    width: 175px;
    height: 175px;
  }
  @media (max-width: $breakpoint-md) {
    width: 160px;
    height: 160px;
  }
  @media (max-width: $breakpoint-sm) {
    width: 145px;
    height: 145px;
  }
}

img.feedback-card-photo--main {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  object-fit: cover;
  @include iconCenter;
  @media (max-width: $breakpoint-lg) {
    width: 157px;
    height: 157px;
  }
  @media (max-width: $breakpoint-md) {
    width: 143px;
    height: 143px;
  }
  @media (max-width: $breakpoint-sm) {
    width: 129px;
    height: 129px;
  }
}

.feedback-card-info {
  position: relative;
  width: 100%;
  text-align: center;

  @media (min-width: $breakpoint-lg) {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    text-align: left;
  }
  @media (min-width: $breakpoint-xl) {
    width: 60%;
  }
}

.feedback-card__name {
  color: $color-brand;
  font-weight: 600;
}

.feedback-card__text {
  @media (max-width: $breakpoint-md) {
    margin: 10px 0;
  }
}





