{% extends "core/base.html" %}
{% block title %}
    Sign up |
{% endblock title %}
{% block content %}
    <section class="section-content py-5">
        <div class="card mx-auto col-11 col-md-7 col-xl-5">
            <article class="card-body">
                <header class="mb-4">
                    <h4 class="card-title">Sign up</h4>
                </header>
                {% include "core/includes/alerts.html" %}
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% include "accounts/errorlist.html" %}
                    <div class="row">
                        <div class="col">
                            <label class="mb-2">
                                First name <span class="text-danger">*</span>
                            </label>
                            {{ form.first_name }}
                        </div>
                        <div class="col">
                            <label class="mb-2">
                                Last name <span class="text-danger">*</span>
                            </label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label class="mb-2">
                                Email Address <span class="text-danger">*</span>
                            </label>
                            {{ form.email }}
                        </div>
                        <div class="col">
                            <label class="mb-2">
                                Phone Number <span class="text-danger">*</span>
                            </label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label class="mb-2">
                                Create password <span class="text-danger">*</span>
                            </label>
                            {{ form.password }}
                        </div>
                        <div class="col">
                            <label class="mb-2">
                                Repeat password <span class="text-danger">*</span>
                            </label>
                            {{ form.confirm_password }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                    </div>
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
                </form>
            </article>
        </div>
        <p class="text-center mt-4">
            Have an account? <a href="{% url 'login' %}">Log In</a>
        </p>
        <br/>
        <br/>
    </section>
{% endblock content %}
