@import "../../styles/mixins";

.dashboard-section {
    padding: 2.5em 0;

    .site-blocks-table {
        overflow: auto;
    }

    label {
        margin-bottom: 0.5rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .btn-primary {
        display: block;
        width: 100%;
        --bs-btn-bg: #e87f1c;
        --bs-btn-border-color: #e87f1c;
        --bs-btn-hover-bg: #f1b277;
        --bs-btn-hover-border-color: #f1b277;
    }
    .text-primary {
        color: $color-brand !important;
    }

    .dashboard-link {
        &:hover {
            color: $color-brand;
        }
    }
}

@media (min-width: 768px) {
    .dashboard-section {
        padding: 5em 0;
    }
}
