@import '../../../../styles/mixins';

.bottom-menu {
  background-color: $white-bg;

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-between;
    padding: 0;

    li {
      flex-grow: 1;
      text-align: center;
      padding-bottom: 0.3rem;
      padding-top: 0.3rem;
      transition: $transition-speed;

      &:hover {
        background-color: $color-title;

        a.font-link.nav-link {
          color: $white;
        }
      }
    }

    .current-menu-item {
      background-color: $color-title;

      a.font-link.nav-link.active {
        color: $white;
      }
    }

    .sub-menu {
      li {
        flex-grow: 0;
        text-align: left;
        padding: 0;
        transition: 0s;

        &:hover {
          background-color: inherit;

          a.font-link.nav-link {
            color: $white;
          }
        }

        a.font-link.dropdown-item.active {
          background-color: lighten($color-brand, 15%);
        }
      }
    }
  }
}
