{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        Taberna</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="meta keywords"/>
        <meta name="description" content="meta description"/>
        <!-- Favicon start -->
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'core/images/favicons/apple-touch-icon.png' %}"/>
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'core/images/favicons/favicon-32x32.png' %}"/>
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'core/images/favicons/favicon-16x16.png' %}"/>
        <link rel="manifest"
              href="{% static 'core/images/favicons/site.webmanifest' %}"/>
        <link rel="mask-icon"
              href="{% static 'core/images/favicons/safari-pinned-tab.svg' %}"
              color="#5bbad5"/>
        <meta name="msapplication-TileColor" content="#da532c"/>
        <meta name="theme-color" content="#ffffff"/>
        <!-- Favicon end -->
        <link rel="shortcut icon"
              type="{% static 'core/images/favicons/favicon.ico' %}"/>
        <link href="{% static 'core/bundle/bootstrap.css' %}"
              rel="stylesheet"
              crossorigin="anonymous"/>
        <link href="{% static 'core/bundle/index.css' %}"
              rel="stylesheet"
              crossorigin="anonymous"/>
        <link href="{% static 'core/font-awesome/css/fontawesome.min.css' %}"
              rel="stylesheet"
              crossorigin="anonymous"/>
        <!-- Slick -->
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'core/slick/css/slick.min.css' %}"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'core/slick/css/slick-theme.min.css' %}"/>
    </head>
    <body>
        {% include "store/includes/navbar.html" %}
        {% block content %}
        {% endblock content %}
        {% include "store/includes/footer.html" %}
        <script src="{% static 'core/bundle/jquery.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'core/bundle/bootstrap.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'core/slick/js/slick.min.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'core/bundle/index.js' %}" crossorigin="anonymous"></script>
    </body>
</html>
