{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        Taberna</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="meta keywords"/>
        <meta name="description" content="meta description"/>
        {% include "store/includes/favicons.html" %}
        <link href="{% static 'product/bundle/bootstrap.css' %}"
              rel="stylesheet"
              crossorigin="anonymous"/>
        <link href="{% static 'product/bundle/index.css' %}"
              rel="stylesheet"
              crossorigin="anonymous"/>
        <link href="{% static 'product/font-awesome/css/fontawesome.min.css' %}"
              rel="stylesheet"
              crossorigin="anonymous"/>
        <!-- Slick -->
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'product/slick/css/slick.min.css' %}"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'product/slick/css/slick-theme.min.css' %}"/>
    </head>
    <body>
        {% include "store/includes/navbar.html" %}
        {% block content %}
        {% endblock content %}
        {% include "store/includes/footer.html" %}
        <script src="{% static 'product/bundle/jquery.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'product/bundle/bootstrap.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'product/slick/js/slick.min.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'product/bundle/index.js' %}" crossorigin="anonymous"></script>
    </body>
</html>
