{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        Karnaukh-WebDev</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="meta keywords" />
        <meta name="description" content="meta description" />
        {% include "core/favicons.html" %}
        <link href="{% static 'core/bundle/bootstrap.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'core/bundle/index.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'core/font-awesome/css/fontawesome.min.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
    </head>
    <body>
        {% if not request.resolver_match.url_name == 'activate_result' %}
            {% include "core/includes/navbar.html" %}
        {% endif %}
        {% block content %}
        {% endblock content %}
        {% if not request.resolver_match.url_name == 'activate_result' %}
            {% include "core/includes/footer.html" %}
        {% endif %}
        <script src="{% static 'core/bundle/jquery.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'core/bundle/bootstrap.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'core/bundle/index.js' %}" crossorigin="anonymous"></script>
    </body>
</html>
