{% extends "core/base.html" %}
{% load static %}
{% block title %}
    {{ core_title }} |
{% endblock title %}
{% block content %}
    <!-- Portfolio Start -->
    <div class="container-fluid py-5 portfolio-list">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Portfolio list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        {% if 'search' in request.path and projects %}
                            <h4>Found {{ search_count }} results for query: '{{ keyword }}'</h4>
                        {% endif %}
                        {% if projects %}
                            {% for project in projects %}
                                <div class="col-md-6">
                                    <div class="blog-item h-100 bg-light rounded overflow-hidden">
                                        <div class="blog-img position-relative overflow-hidden">
                                            <img class="img-fluid"
                                                 src="{{ project.photo.url }}"
                                                 alt="{{ project.name }}"
                                                 height="auto"
                                                 width="auto"/>
                                            <a class="position-absolute top-0 start-0 label text-white rounded-end mt-5 py-2 px-4"
                                               href="{{ project.category.get_absolute_url }}">{{ project.category }}</a>
                                        </div>
                                        <div class="p-4 text h-100">
                                            <h4 class="mb-3">{{ project.title }}</h4>
                                            <p>{{ project.content | truncatewords_html:25 |safe }}</p>
                                            <a class="text-uppercase link" href="{{ project.get_absolute_url }}">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <h4>No result found. Please try again.</h4>
                            </div>
                        {% endif %}
                        {% if page_obj.has_other_pages %}
                            <div class="col-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pagination-lg justify-content-center m-0">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link rounded-0"
                                                   href="?page={{ page_obj.previous_page_number }}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link rounded-0" href="#" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for i in page_obj.paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">{{ i }}</a>
                                                </li>
                                            {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link rounded-0"
                                                   href="?page={{ page_obj.next_page_number }}"
                                                   aria-label="Next">
                                                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link rounded-0" href="#" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% include "core/includes/sidebar.html" %}
                <!-- Portfolio list End -->
            </div>
        </div>
    </div>
    <!-- Portfolio End -->
{% endblock content %}
