{% extends "core/base.html" %}
{% block title %}
    {{ project.title }} |
{% endblock title %}
{% block content %}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-4">
                        {% if gallery_images %}
                            <div id="carouselExampleAutoplaying"
                                 class="carousel slide"
                                 data-bs-ride="carousel"
                                 data-bs-interval="3000">
                                <div class="carousel-inner">
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ project.photo.url }}"
                                             class="d-block w-100"
                                             alt="{{ project.title }}"
                                             height="auto"
                                             width="auto">
                                    </div>
                                    {% for image in gallery_images %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ image.image.url }}"
                                                 class="d-block w-100"
                                                 alt="{{ project.title }}"
                                                 height="auto"
                                                 width="auto">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev"
                                        type="button"
                                        data-bs-target="#carouselExampleAutoplaying"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next"
                                        type="button"
                                        data-bs-target="#carouselExampleAutoplaying"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        {% else %}
                            <img class="img-fluid w-100 rounded mb-5"
                                 src="{{ project.photo.url }}"
                                 alt="{{ project.title }}"
                                 height="auto"
                                 width="auto" />
                        {% endif %}
                        <h1 class="mb-4">{{ project.title }}</h1>
                        <div class="mt-4 mb-4">
                            <h6 class="d-flex flex-wrap">
                                <span class="me-2">Category:</span><a href="{{ project.category.get_absolute_url }}"
   class="me-2 detail-tags">{{ project.category }}</a>
                            </h6>
                            {% if project.tags.exists %}
                                <h6 class="d-flex flex-wrap">
                                    <span class="me-2">Tags:</span>
                                    {% for tag in project.tags.all %}
                                        <a href="{{ tag.get_absolute_url }}" class="me-2 detail-tags">{{ tag.title }}</a>
                                    {% endfor %}
                                </h6>
                            {% endif %}
                        </div>
                        <div>{{ project.content |safe }}</div>
                    </div>
                    {% if project.tags.exists %}
                        <hr />
                        <div class="d-flex flex-wrap mb-4">
                            {% for tag in project.tags.all %}
                                <a href="{{ tag.get_absolute_url }}" class="btn btn-light m-1">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="d-flex flex-wrap">
                        {% if project.github_url %}
                            <a href="{{ project.github_url }}"
                               class="btn detail-btn-git py-2 px-4 me-4 m-2"
                               target="_blank"><i class="fab fa-github fw-normal me-2"></i>GitHub</a>
                        {% endif %}
                        {% if project.view_url %}
                            <a href="{{ project.view_url }}"
                               class="btn detail-btn-view py-2 px-4 m-2"
                               target="_blank"><i class="fas fa-desktop me-2"></i>View App</a>
                        {% endif %}
                    </div>
                    <!-- Blog Detail End -->
                </div>
                {% include "core/includes/sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
