@import '../../../../styles/mixins';

.breadcrumb__bottom {
  background: #e7e5e6;
  padding: .5em 0;
  text-align: center;
  box-shadow: 0 1px 5px $color-title;
  nav {
    a {
      color: $color-brand;
      text-decoration: none;
    }
  }
}