{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        Taberna</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="meta keywords" />
        <meta name="description" content="meta description" />
        {% include "taberna_store/includes/favicons.html" %}
        <link href="{% static 'taberna_product/bundle/bootstrap.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'taberna_product/bundle/index.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <link href="{% static 'taberna_product/font-awesome/css/fontawesome.min.css' %}"
              rel="stylesheet"
              crossorigin="anonymous" />
        <!-- Slick -->
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'taberna_product/slick/css/slick.min.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'taberna_product/slick/css/slick-theme.min.css' %}" />
    </head>
    <body>
        {% include "taberna_store/includes/navbar.html" %}
        {% block content %}
        {% endblock content %}
        {% include "taberna_store/includes/footer.html" %}
        <script src="{% static 'taberna_product/bundle/jquery.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'taberna_product/bundle/bootstrap.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'taberna_product/slick/js/slick.min.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'taberna_product/bundle/index.js' %}"
                crossorigin="anonymous"></script>
    </body>
</html>
