@import '../../../../styles/mixins';

.modal {
  &__cart {
    .widget_shopping_cart {
      width: 100%;
      display: block;
      color: #d5d9db;
      min-width: 290px;
    }

    .product_list_widget {
      padding: 0;
      width: 100%;
      display: inline-block;
    }

    ul.product_list_widget li {
      list-style: none;
      margin-left: 0;
      background: #fcfcfc;
      padding: 10px 15px;
      width: 100%;
      min-width: 280px;
      vertical-align: middle;
      display: inline-table;
      transition: $transition-speed;

      &:hover {
        background-color: lighten($color-brand, 25%);
      }
    }

    .widget_shopping_cart .product_list_widget li a.remove {
      position: relative;
      top: auto;
      color: red;
      margin-right: 5px;
    }

    a {
      color: $color-title;
      font-size: 1.5em;
      margin: 0;
    }

    .product_list_widget li img {
      max-width: 90px;
      float: right;
      width: 100%;
      height: auto;
    }

    .woocommerce-mini-cart__total {
      background: #e8e8e8;
      padding: 10px 15px;
      display: block;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    p {
      margin: 0;
      color: $color-title;
      font-size: 16px;
    }

    .total {
      vertical-align: middle;
    }

    .woocommerce-mini-cart__buttons a {
      padding: 19px 7px;
      display: inline-block;
      width: 50%;
      background: $color-fade;
      color: #fff;
      text-align: center;
      font-size: 95%;
      opacity: .9;
      border: 2px solid transparent;
      border-bottom-left-radius: 5px;
      @include font-semibold($description-font);

      &:hover {
        background-color: $color-base;
        color: $color-fade;
        border-color: $color-fade;
      }
    }

    .woocommerce-mini-cart__buttons a.button.checkout {
      background: $color-brand;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;

      &:hover {
        background-color: $color-base;
        color: $color-brand;
        border-color: $color-brand;
      }
    }

    .quantity {
      display: block;
    }
  }
}

.modal-backdrop {
  background-color: $color-brand;
}